{% if complete %}
    <h2>Thank you for your registration</h2>

    <p>
        A confirmation email has been sent to your address <strong>{{ email }}</strong>.
        To complete your registration, we require you to confirm your account
        by clicking on the URL sent in that email.
    </p>

    {% if expires_at %}
    <p>
        Confirmation link will be valid for next
        <strong>{{ ((expires_at - now) / 3600) | number_format(0) }} hours</strong>.
        If you do not confirm your email address within this time you will have to
        re-register.
    </p>
    {% endif %}

    <p>
        If you don't receive the email within a few minutes, please check
        your mailbox's spam folder and filters.
    </p>

{% else %}
    <h2>Ooops... I don't know what am I doing here</h2>

    <p>Such a situation occurs typically when:</p>
    <ul>
        <li>you refresh the confirmation page after successful registration</li>
        <li>you visit this page by typing its URL directly into browser</li>
    </ul>

    <p>
        Either way there is nothing to worry about. You can safely
        <a href="{{ baseUrl('/') }}">return to main page</a>.
    </p>

{% endif %}
