<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ message.getSubject() }}</title>
</head>
<body>
<p>Witaj <strong>{{ name }}</strong>,</p>

<p>Twoje hasło zostało właśnie zmienione.</p>

<p>Jeżeli hasło zostało zmienione przez Ciebie, nie musisz nic więcej
robić.</p>

<p>Jeżeli to nie Ty zmieniłeś(aś) hasło prosimy o niezwłoczny
kontakt, ponieważ może to oznaczać, że ktoś próbuje przejąć Twoje konto.</p>

<p>Pozdrawiamy</p>

<hr/>

<p>Ta wiadomość została wygenerowana automatycznie, proszę na nią
nie odpowiadać.</p>

</body>
</html>
