{% set hours = (user.password_reset_token_expires_at - now / 3600) | number_format(0) %}
{% set mins = (user.password_reset_token_expires_at - now / 60) | number_format(0) %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ message.getSubject() }}</title>
</head>
<body>
<p>Witaj <strong>{{ name }}</strong>,</p>

<p>Otrzymaliśmy prośbę o ustawienie nowego hasła dla Twojego konta.</p>

<p>Aby wprowadzić nowe hasło proszę odwiedzić poniższy adres:</p>

<a href="{{ url_password_reset }}">{{ url_password_reset }}</a>

<p>Adres jest ważny przez najbliższą godzinę.</p>

<p>Uwaga: Adres traci ważność w momencie pomyślnego zalogowania przy użyciu
starego hasła bądź zmiany hasła na nowe.</p>

<p>pozdrawiamy</p>

<hr/>

<p>Jeśli nie prosiłeś(aś) o nowe hasło możesz zignorować tę wiadomość. Twoje hasło
nie zostanie zmienione.</p>

</body>
</html>
