<h1>Forgot your password?</h1>

{% if complete %}

    <p>We've sent password reset instructions to your email address.</p>

    <p>If you don't receive the email within a few minutes, please check
    your mailbox's spam folder and filters.</p>

{% else %}

    <div class="alert alert-error alert-danger">
      Ooops... I don't know what am I doing here
    </div>

    <p>Such a situation occurs typically when:</p>
    <ul>
      <li>you refresh the password reset confirmation page</li>
      <li>you visit this page by typing its URL directly into browser</li>
    </ul>

    <p>Either way there is nothing to worry about. You can safely
       <a href="{{ baseUrl('/') }}">return to main page</a>.</p>

{% endif %}
