{% if complete %}

    <h1>Password reset successfully</h1>

    <p>Your password has been reset successfully.</p>
    <p>You can now <a href="{{ url('user.auth.login') }}">login</a> with
       the new one.</p>

{% else %}

    <h1>Reset your password</h1>

    <div class="alert alert-error alert-danger">
      Ooops... I don't know what am I doing here
    </div>

    <p>Such a situation occurs typically when:</p>
    <ul>
      <li>you refresh this page after successfully resetting your password</li>
      <li>you visit this page by typing its URL directly into browser</li>
    </ul>

    <p>Either way there is nothing to worry about. You can safely
       <a href="{{ baseUrl('/') }}">return to main page</a>.</p>

{% endif %}
