<h1>Sign in</h1>

<div class="row">
    <div class="col-md-6">
        <p>Sign in to your account</p>

        {% include 'maniple-user/forms/login.twig' %}

        <p><a href="{{ url('user.password.forgot') }}">Forgot your username or password?</a></p>
    </div>
    <div class="col-md-6">
        <p style="margin-bottom:20px">
            You can
            <a href="{{ url('maniple-user.signup.create') }}">create an account</a>
            if you don't have one.
        </p>
    </div>
</div>
