<!DOCTYPE html>
<html>
<head>
<title>{{ message.getSubject() }}</title>
</head>
<body>

<p>Witaj <strong>{{ name }}</strong>,</p>

<p>Dziękujemy za zarejestrowanie się na naszej stronie.</p>

<p>Aby dokończyć proces rejestracji proszę kliknąć poniższy link:<br/>
<a href="{{ url_confirm }}">{{ url_confirm }}</a>
</p>

<p>Potwierdzenie adresu e-mail za pomocą powyższego linku jest niezbędne
do aktywacji Twojego konta.</p>

<p>Pozdrawiamy</p>

</body>
</html>
